---
import { buildMenu, capitalizeFirstLetter } from "@/lib/utils";
import type { SideNavMenuProps } from "@/lib/types";
import Link from "../ui/Link.astro";
import { menuConfig } from "config";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const { items, level } = Astro.props as SideNavMenuProps;
const pathname: string = new URL(Astro.request.url).pathname;
const docs = await getCollection("docs");

const menu = buildMenu(docs, menuConfig);

const { class: className } = Astro.props;
---

<div
  class={`flex flex-col gap-1 m-0 w-full h-full border-r-[1px] border-border ${className}`}
>
  <div class="p-4 border-b-[1px] border-border">
    <h2 class="">Fixed Box</h2>
    <Link href="/">Home</Link>
    <Link href="/button">Components</Link>
  </div>

  <div class="flex flex-col gap-4 overflow-y-scroll p-4">
    {
      menu.map((section) => (
        <div class="flex flex-col gap-2">
          <div class="flex flex-row gap-2 items-center ">
            {section.icon && <Icon name={section.icon} />}
            <p class="text-text-primary font-medium mt-0!">{section.title}</p>
          </div>
          <div>
            {section.items.map((item) => {
              const classNameLink = `
        ${pathname === item.href ? "text-text-primary! bg-background-elevated/30!" : "no-underline!"}
        `.trim();
              return (
                <Link href={item.href} class={classNameLink}>
                  {item.title}
                </Link>
              );
            })}
          </div>
        </div>
      ))
    }
  </div>
</div>
