---
import HeadSEO from "@/components/core/HeadSEO.astro";

import { docconfig, LOCALE, SITE } from "config";

import type { BaseLayoutProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";
import Header from "@/components/core/Header.astro";
import BlobBackground from "@/components/core/BlobBackground.astro";
import Copy from "@/components/core/Copy.astro";
import MainContent from "@/components/docs/MainContent.astro";
import SideNavMenu from "@/components/docs/SideNavMenu.astro";
import ScrollArea from "@/components/ui/ScrollArea.astro";
import TableofContent from "@/components/docs/TableofContents.astro";

const {
  image,
  imageAlt,
  contentType,
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  hide_toc,
  hide_sidenav,
  headings,
} = Astro.props as BaseLayoutProps;
---

<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) : SITE.title}`
      description={description}
      image={image}
      imageAlt={imageAlt}
      contentType={contentType}
    />
  </head>

  <body>
    <!-- <BlobBackground /> -->
    <main class="flex flex-col items-center">
      <Copy />
      <Header />
      <div class="flex h-[calc(100dvh-1px-3.5rem)] w-full">
        <div class="w-1/5 max-w-72 h-full overflow-y-scroll">
          <SideNavMenu />
        </div>

        <div class="h-full w-full overflow-y-scroll flex justify-center">
          <MainContent
            title={title}
            author={author}
            pubDatetime={pubDatetime}
            modDatetime={modDatetime}
            description={description}
            draft={draft}
            tags={tags}
            hide_breadcrumbs={hide_breadcrumbs}
            headings={headings}
          >
            <slot />
          </MainContent>
        </div>

        <div class="w-1/5 max-w-72 h-full overflow-y-scroll">
          <TableofContent {headings} />
        </div>
      </div>
    </main>
  </body>
</html>
