---
import HeadSEO from "@/components/core/HeadSEO.astro";

import { docconfig, LOCALE, SITE } from "config";

import type { BaseLayoutProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";
import Header from "@/components/core/Header.astro";
import Copy from "@/components/core/Copy.astro";
import MainContent from "@/components/docs/MainContent.astro";
import SideNavMenu from "@/components/docs/SideNavMenu.astro";
import TableofContent from "@/components/docs/TableofContents.astro";

const {
  image,
  imageAlt,
  contentType,
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  hide_toc,
  hide_sidenav,
  headings,
} = Astro.props as BaseLayoutProps;
---

<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) : SITE.title}`
      description={description}
      image={image}
      imageAlt={imageAlt}
      contentType={contentType}
    />
  </head>

  <body>
    <main class="flex flex-col items-center">
      <Copy />
      <Header />

      <div class="flex h-[calc(100dvh-1px-3.5rem)] w-full flex-row">
        <div class="w-0 md:w-1/3 lg:w-1/5 md:max-w-80 h-full overflow-y-scroll">
          <SideNavMenu />
        </div>

        <div
          class="w-screen md:w-2/3 lg:w-3/5 h-full overflow-y-scroll flex flex-1 justify-center"
        >
          <MainContent
            title={title}
            author={author}
            pubDatetime={pubDatetime}
            modDatetime={modDatetime}
            description={description}
            draft={draft}
            tags={tags}
            hide_breadcrumbs={hide_breadcrumbs}
            headings={headings}
          >
            <slot />
          </MainContent>
        </div>

        {
          !hide_toc && (
            <div class="w-0 md:w-0 lg:w-1/5 md:max-w-80 h-full overflow-y-scroll md:border-l-[1px] border-border">
              <TableofContent {headings} />
            </div>
          )
        }
      </div>
    </main>
  </body>
</html>
