---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";
// import Footer from "@/components/core/Footer.astro";
import Copy from "@/components/core/Copy.astro";

import SideNavMenu from "@/components/docs/SideNavMenu.astro";
import TableofContent from "@/components/docs/TableofContents.astro";
import MainContent from "@/components/docs/MainContent.astro";

import type { DocsLayoutProps } from "@/lib/types";
import { menu, capitalizeFirstLetter } from "@/lib/utils";

import { LOCALE, SITE, docconfig } from "config";
import ScrollArea from "@/components/ui/ScrollArea.astro";
import ThemeSelector from "@/components/ux/ThemeSelector.astro";
import CoreLayout from "./CoreLayout.astro";

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  hide_toc,
  hide_sidenav,
  headings,
} = Astro.props as DocsLayoutProps;
---

<CoreLayout>
  <div class="flex flex-1 flex-col md:flex-row flex-grow w-full">
    <div
      class={`py-4 hidden md:flex max-h-screen sticky ${hide_toc && hide_sidenav ? "w-screen" : "md:px-6 md:w-1/4 lg:w-1/5"}`}
    >
      <ScrollArea class="">
        {
          !docconfig.hide_side_navigations && !hide_sidenav && (
            <SideNavMenu items={menu} level={0} />
          )
        }
      </ScrollArea>
    </div>
    <div
      class=`flex flex-col w-full ${hide_toc && hide_sidenav ? "" : "md:w-3/4 lg:w-3/5"}`
    >
      <MainContent
        title={title}
        author={author}
        pubDatetime={pubDatetime}
        modDatetime={modDatetime}
        description={description}
        draft={draft}
        tags={tags}
        hide_breadcrumbs={hide_breadcrumbs}
        headings={headings}
      >
        <slot />
      </MainContent>
    </div>
    <div
      class={`py-4 hidden lg:flex max-h-screen sticky ${hide_toc && hide_sidenav ? "" : "px-6 lg:w-1/5"}`}
    >
      <ScrollArea class="">
        {
          !docconfig.hide_table_of_contents && !hide_toc && (
            <TableofContent {headings} />
          )
        }
      </ScrollArea>
    </div>
  </div>
</CoreLayout>
